

body {

    text-align: center;


}

header{
    color: white;
    font-family: "Times New Roman", Times, serif;
    background-image:url(../photos/tarot4.jpg);
    background-repeat: no-repeat;
    padding: 3em;
    text-align: center;
    font-style: italic;
}